html1
	head
		title Index Page
	body
		// JADE String
		#header
			h1 #{name}
			h2= description
		hr
		- for(var i = 0; i < 10; i++) {
			.article
				p
					a(href="http://naver.com", data-test="multiple Attribute") Go To Naver
		- }