// doctype 5
//ust change the 5 to html at the start of _layout.jade:
// http://stackoverflow.com/questions/21102285/expressjs-node-app-running-error

doctype html
html
	head
		title Index Page
		style
			* { margin:0px; padding:0px; }
			h1 {color:Red;}
		script(src="http://code.jquery.com/jquery-1.10.2.js")
		script
			$(document).ready(function () {var alpha = 10;alert(alpha)});	
	body
		h1 Index Page